html{
    scroll-padding-top: 65px;
    scroll-behavior: smooth;
   
}
/* navbar */
.bobbel{
    display:flex;
    width: 100%;
    position:fixed;
    top:0px;
    right: 0px;
   justify-content: flex-end;
    background-color:black;
   padding: 0px;
}
.down{
    margin-top: 15px;
    font-family:"Playwrite AU QLD", cursive;
    margin-left: 20px;
     margin-right: 650px; 
     color: #ff8512;
     text-decoration:solid; 
}
.bobbel{
    a{
        h4:hover{
            background-color:#999696;
        }
    }
}  



/* navbar */



body{
    background:linear-gradient(115deg, blue,white,#ff8512);
    margin: 120px;
    height: 100%;
    
  
    
}
/* home */


#fine{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* image */


.photo{
    display: inline-block;
    margin-right: 50px;

}

    
.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin: 0;
    padding: 0;
    color: black;
    font-family: "geologic",sans-serif;
    font-size:35px;
    margin-bottom: 50px;
   
}
.intro > span {
    position: relative;
    display: inline-block;
    color: #ff8800;
    height: 50px;
    vertical-align: bottom;
    overflow: hidden;
}
.intro > span > span {
    display: block;
    animation: animatewords 8s infinite ease;
}
@keyframes animatewords {
    0% {transform: translateY(0%);}
    25%{transform: translateY(-100%);}
    50%{transform: translateY(-200%);}
    75%{transform: translateY(-300%);}
    100%{transform: translateY(-400%);}

}

/* image */


/* resume button */
.job{
    text-align: center;
}
.one{
    background-color: rgb(250, 249, 175);
    padding: 5px;
    width: 300px;
    font-size: x-large;
    border-radius: 5px;
    
}
.one img{
    width: 25px;
    margin-left: 10px;
    height: 25px;

}
.one:hover{
    background:(115deg, blue,);
    background-color: rgb(131, 127, 127);
    cursor: pointer;
    color: rgb(255, 255, 255);
    width: 320px;
}
/* about me */
.myself{
    font-size: 500px;
  
}
/* education */

.rule{
    display: flex;
    justify-content: flex-start;
    margin: 0px;
}

.rule1{
    display: flex;
    justify-content:flex-start;
    margin: 0px;
}

.rule2{
    display: flex;
    justify-content: flex-start;
    margin: 0px;
}

/* certificates */
.oom{
    p{

        text-decoration: underline;
       
       margin-left: 850px;
    }
    p,h1{
    display: inline-block;
    }
}

.cer{
  cursor: zoom-in;
    text-align: center;
    font-size: 20px;
    border: 3px;
    border-style:ridge;
    border-color: black;
    display: inline-block;
    margin-left: 100px;
    transition: 1s;
  
   
    
}
.cer:hover{
        background-color: rgb(41, 38, 38);
        color: rgb(130, 218, 127);
    }
.cer:active{

    transform:scale(3);
}
     /* contact */
nav{
    display: inline-block;
    background-color: bisque;
   
}
.news{
    font-size:large;
}
form{
    input{
        height: 30px;
        border: 2px;
        border-color: black;
        width: 250px;
        border-style: solid;
    }
}
#alee{
    display: flex;
}
.goop{
   margin-left:200px;
   margin-top: 50px;
}
.foop{
    display: inline;
    margin-left: 170px;
    button:hover{
    background-color: white;
    cursor: pointer;
    }
}
.hub{
    display: flex;
    cursor: pointer;
}
.hub1:hover {
    background-color: none;
    color: white;
    margin-top: 5px;
   
}
.hub2:hover {
    background-color:  none;
    color: #ffffff;
    margin-top: 5px;
    
}
.hub3:hover {
    background-color:  none;
    color: white;
    margin-top: 5px;
    
}
.hub4:hover {
    background-color:  none;
    color: white;
    margin-top: 5px;
    
}
.hub5:hover {
    background-color:  none;
    color: white;
    margin-top: 5px;
    
}
.foot{
    width: 100%;
    color: black;
}